<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Resume: <%= profile.name %></title>
    <meta name="theme-color" content="#3a7bd5" />
    <meta name="description" content="<%= profile.description %>" />
    <meta property="og:url" content="<%= profile.blogUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Resume: <%= profile.name %>" />
    <meta property="og:image" content="./resume-cover.png" />
    <meta property="og:description" content="<%= profile.description %>" />
    <meta property="og:locale" content="ko_KR" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script type="text/javascript" src="scripts/style.js"></script>
    <link rel="stylesheet" href="css/main.css" />
</head>
