<section>
    <div class="headline">
    <h2><i class="fas fa-id-card"></i>License</h2>
    </div>
    <% for (const license of profile.licenses) { %>
        <div class="other">
        <h3><%= license.name %></h3>
        <span class="role"><%= license.role %></span>
        <span class="time">
            <time datetime="<%= license.date %>">
            <%= license.date %>
            </time>
        </span>
        <p>
            <%= license.description %>
        </p>
        </div>
    <% } %>
</section>